<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/artists">
    <img src="https://www.publicdomainpictures.net/pictures/40000/velka/union-jack-flag-1365882581V0R.jpg" />
  </a>
</div>

<div class="d-flex slack-container">
  <div class="conversations-sidebar">
    <div class="chat-section">
      <div class="chat-section-header">
        <%= link_to 'Home', artists_path %>
      </div>
      <div class="channel">
        <%= link_to 'Add an artist', new_artist_path(@artist) %>
      </div>
      <div class="channel">
        <%= link_to 'Add a new song', new_artist_song_path(@artist) %>
      </div>
    </div>
  </div>
  <div class="chat-container">
    <div class="chat-header">
      <h1><strong>Playlist</strong></h1>
    </div>

    <div class="artist-info">
      <h3><%= @artist.name %></h3>
      <% if @artist.separated %>
        <h4><%= @artist.years_active %> years active (already separated)</h4>
      <% else %>
        <h4><%= @artist.years_active %> years active (still active)</h4>
      <% end %>
    </div>
    <div class="chat-conversations">
      <div class="message">
        <div class="card-product-photo">
          <%= cl_image_tag @artist.photo.key, height: 350, width: 350, crop: :fill %>
        </div>
        <div class="message-content">
          <ul>
            <% i = 1 %>
            <% @artist.songs.each do |song| %>
              <strong><%= i %> -   <%= song.name %></strong> from <strong><%= song.album.name %></strong>
              <%# link_to song.album.name, album_path(@album) %>
                <li><%= link_to 'Watch a video in YouTube', "https://www.youtube.com/results?search_query=#{@artist.name} #{song.name}", target: :_blank %></li>
                <%# link_to 'Edit', edit_artist_song_path(song) %>
                <li><%= link_to 'Delete', song_path(song), method: :delete, data: { confirm: "Are you sure to delete #{song.name}?" } %></li>
              <% i += 1 %>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>
